.popularProducts {
    margin-top: 100px;

    &__header {
        display: flex;

        &_title {
            width: 364px;
            height: 43px;

            h2 {
                font-size: 36px;
            }
        }

        &_catalog {
            width: 210px;
            height: 49px;
            margin-left: 748px;

            button {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border: 1px solid #e30614;
                background-color: #fff;

                span {
                    font-size: 16px;
                    color: #e30614;
                }
            }
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-left: 80px;

        &_item {
            width: 285px;
            height: 530px;
            padding-top: 24px;
            border: 1px solid #e6e6e6;

            &-img {
                width: 200px;
                height: 196px;
                margin-left: 53px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-standard {
                width: 83px;
                height: 20px;
                margin-top: 34px;
                margin-left: 20px;
                text-align: center;
                border-radius: 2px;
                background-color: #f3bcc0;

                span {
                    font-size: 10px;
                    color: #e30614;
                }
            }

            &-title {
                margin-top: 25px;
                margin-left: 20px;

                h2 {
                    font-size: 18px;
                }
            }

            &-cost {
                margin-top: 9px;
                margin-left: 20px;

                span {
                    font-size: 15px;
                    font-weight: 700;
                }
            }

            &-basket {
                margin-top: 45px;
                margin-left: 20px;
                @import '../UI/addButton';
            }

            &-detailed {
                display: block;
                margin-top: 15px;
                margin-left: 20px;
                text-decoration: none;

                @import '../UI/detailedButton';
            }
        }
    }
}

@import '../UI/notification';

@import '../UI/toast';
