.searchPanel {
    position: relative;
    width: 358px;
    height: 42px;
    margin-top: 31px;
    &__logo {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 13px;
        left: 17px;
    }
    &__input {
        width: 100%;
        height: 100%;
        padding-left: 48px;
    }
    &__item {
        display: flex;
        width: 232px;
        height: 68px;
        border: 1px solid #E6E6E6;
        text-decoration: none;
        background-color: #fff;
        &_img {
            width: 30px;
            height: 28px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &_info {
            &-title {
                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: #000;
                }
            }
            &-price {
                span {
                    font-size: 12px;
                    font-weight: 700;
                    color: #B3B3B3;
                }
            }
        }
    }
}
